@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background: #333333; /* Tailwind color: bg-gray-800 */
}

html::-webkit-scrollbar-thumb {
  background-color: gray; /* Tailwind color: bg-gray-600 */
  border-radius: 10px;
  border: 2px solid #333333; /* Tailwind color: bg-gray-800 */
}

.scrollbar-rezume-thin::-webkit-scrollbar {
  width: 0px;
}
